[submodule "client-gateway"]
	path = client-gateway
	url = git@github.com:nicolasagosti/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = git@github.com:nicolasagosti/products-ms.git
